
.boton-jugada{
    background-color: red;
    color: white;
    width: 120px;
    height: 40px;
    border-radius: 50px;
    transition: all 1 s;

}

.boton-jugada:hover{
    background-color: green;
    transition: all 1s ;
}

#resultados{
padding: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
color: blue;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: blue;
    padding-left: 20px;
}
